.cartList {
  width: 100%;
}
.cartList ul {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cartList ul li {
  margin: 0 15px;
  list-style-type: none;
}

.cartList ul li p,
.cartList ul li h3 {
  width: 94px;
  margin: 5px 0;
}
